@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../../fonts/Roboto/Roboto-Regular.ttf"), url("../../fonts/Roboto/Roboto-Bold.ttf"), url("../../fonts/Roboto/Roboto-Italic.ttf"), url("../../fonts/Roboto/Roboto-Light.ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #141414;
  color: #fff;
}

.header {
  background-color: #111;
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-size: 1.8em;
  color: #e50914;
  font-weight: bold;
  letter-spacing: 2px;
}
.header-nav {
  font-family: "Roboto";
}
.header-nav_container {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.header-nav_container--items {
  margin: 0 32px;
}
.header-nav_container--items_link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  transition: color 0.3s ease;
}
.header-nav_container--items_link:hover {
  color: #e50914;
}

.footer {
  padding: 5rem;
}

.main .mainTitle,
.main .category {
  text-align: center;
  margin: 4rem;
  font-size: 20px;
}
.main .bestMovie {
  display: flex;
  align-items: center;
  max-width: 1104px;
  margin: 0 auto;
}
.main .bestMovie .slider-container {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  transition: transform 0.5s ease;
}
.main .bestMovie .slider-container .Best_images {
  margin: 0 10px;
  width: 100%;
  height: auto;
  border: 1px solid #fff;
  border-radius: 10px;
  transform: scale(1);
  transition: transform 200ms;
  object-fit: contain;
  cursor: pointer;
}
.main .bestMovie .slider-container .Best_images:hover {
  transform: scale(0.98);
}
.main .bestMovie .leftArrow,
.main .bestMovie .rightArrow {
  display: flex;
  align-self: center;
  font-size: 2rem;
  margin: 0 20px;
  color: #fff;
  border: none;
  background: none;
  cursor: pointer;
}
.main .bestMovie .leftArrow:hover,
.main .bestMovie .rightArrow:hover {
  color: #ccc;
}

.section {
  margin-top: 2rem;
}
.section-container {
  max-width: 960px;
  margin: 0 auto;
}
.section-container_image {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.section-container_title {
  text-align: center;
  margin-top: 20px;
}
.section-container_title--h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}
.section-container--button {
  background-color: #e50914;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1em;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}
.section-container--button:hover {
  background-color: #d10813;
}
.section-container .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 60px;
}
.section-container .modal-content {
  background-color: #111;
  margin: 5% auto;
  padding: 18px;
  border: 1px solid #888;
  width: 80%;
  max-width: 50%;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.section-container .modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}
.section-container .modal .close:hover,
.section-container .modal .close:focus {
  color: #fff;
}
.section-container .modal .movieDetails {
  font-family: "Roboto", sans-serif;
}
.section-container .modal .movieDetails-sumary {
  text-align: center;
  font-size: 18px;
}
.section-container .modal .movieDetails-info {
  font-size: 16px;
  padding: 10px 0px;
  color: #ececec;
}
.section-container .modal .movieDetails-info .spanMovieDetails {
  color: rgb(153, 153, 158);
  font-weight: 100;
}

/*# sourceMappingURL=style.css.map */
