@font-face{
    font-family: 'Roboto', sans-serif;
    src: url('../../fonts/Roboto/Roboto-Regular.ttf'),
        url('../../fonts/Roboto/Roboto-Bold.ttf'),
        url('../../fonts/Roboto/Roboto-Italic.ttf'),
        url('../../fonts/Roboto/Roboto-Light.ttf');
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: $font-body;
    background-color: #141414;
    color: #fff;
}