.main{
    .mainTitle,
    .category{
        text-align: center;
        margin: 4rem;
        font-size: 20px;
    }
    .bestMovie{
        display: flex;
        align-items: center;
        max-width: 1104px; 
        margin: 0 auto;
        .slider-container {
            display: flex;
            overflow-y: hidden;
            overflow-x: auto;
            scroll-behavior: smooth;
            transition: transform 0.5s ease;
            .Best_images{
                margin: 0 10px;
                width: 100%;
                height: auto;
                border: 1px solid #fff;
                border-radius: 10px;
                transform: scale(1);
                transition: transform 200ms;
                object-fit: contain;
                cursor: pointer;
                &:hover {
                    transform: scale(.98);
                }
            }
           
        }
        .leftArrow,
        .rightArrow{
            display: flex;
            align-self: center;
            font-size: 2rem;
            margin: 0 20px;
            color: #fff;
            border: none;
            background: none;
            cursor: pointer;
            &:hover{
                color: #ccc;
            }
        }
    }
}



// body {
//     font-family: Arial, sans-serif;
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

// .slider-container {
//     position: relative;
//     width: 80%;
//     margin: auto;
//     overflow: hidden;
// }

// .slider-track {
//     display: flex;
//     transition: transform 0.5s ease;
// }

// .slider-item {
//     flex: 0 0 auto;
//     width: 300px; /* Set a width for each movie item */
//     margin-right: 10px; /* Adjust as needed */
// }

// .slider-prev,
// .slider-next {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     font-size: 24px;
//     background: none;
//     border: none;
//     cursor: pointer;
// }

// .slider-prev {
//     left: 10px;
// }

// .slider-next {
//     right: 10px;
// }
