.main{
    .mainTitle,
    .category{
        text-align: center;
        margin: 4rem;
        font-size: 20px;
    }
    .bestMovie{
        display: flex;
        align-items: center;
        max-width: 1104px; 
        margin: 0 auto;
        .slider-container {
            display: flex;
            overflow-y: hidden;
            overflow-x: auto;
            scroll-behavior: smooth;
            transition: transform 0.5s ease;
            .Best_images{
                margin: 0 10px;
                width: 100%;
                height: auto;
                border: 1px solid #fff;
                border-radius: 10px;
                transform: scale(1);
                transition: transform 200ms;
                object-fit: contain;
                cursor: pointer;
                &:hover {
                    transform: scale(.98);
                }
            }
           
        }
        .leftArrow,
        .rightArrow{
            display: flex;
            align-self: center;
            font-size: 2rem;
            margin: 0 20px;
            color: #fff;
            border: none;
            background: none;
            cursor: pointer;
            &:hover{
                color: #ccc;
            }
        }
    }
}
