.header{
    background-color: #111;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo{
        font-size: 1.8em;
        color: #e50914; 
        font-weight: bold;
        letter-spacing: 2px;
    }
    &-nav{
        font-family: "Roboto";
        &_container{
            list-style-type: none;
            display: flex;
            gap: 20px;
            &--items{
                margin: 0 32px;
                &_link{
                    font-family: $font-body;
                    text-decoration: none;
                    color: #fff;
                    font-weight: bold;
                    font-size: 1em;
                    transition: color 0.3s ease;
                    &:hover{
                        color: #e50914;
                    }
                
                }
            }
        }
    }
}
@include only-mobile