.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    line-height: 90px;
    background-color: $bg-header;
    box-shadow: $ombre;
    &-logo{
        color: #fff;
        font-size: 20px;
    }
    &-nav{
        font-family: Roboto;
        &_container{
            display: flex;
            list-style: none;
            &--items{
                margin: 0 32px;
                &_link{
                    text-decoration: none;
                    font-family: $font-body;
                    color: #fff;
                    font-size: 17px;
                }
            }
        }
    }
}
